parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::(filter|filterSearchLoad|withTrashed|onlyTrashed)#'
        - '#Parameter \$this of method [a-zA-Z0-9\\_]+::scopeSearch\(\) has invalid type#'
        - '#Call to function method_exists\(\) with [a-zA-Z0-9\\_]+ and ''scopeSearch'' will always evaluate to true#'
        - '#PHPDoc tag @var for variable \$query contains unresolvable type#' 